<head>
  <title>weuse.meteor.com</title>
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
  <meta http-equiv="cleartype" content="on">
</head>

<body>
  <div class="container">
    <div class="loading">
      <i class="glyphicon glyphicon-cog rotating"></i> Loading... Please, wait.
    </div>
    {{> header }}
    {{> usersList }}
  <footer style="margin-top: 100px;margin-bottom:10px;">
    Built <i class="glyphicon glyphicon-cog"></i> in Torino by <a href="http://grigio.org">Luigi Maselli</a> - Code on <a href="https://github.com/grigio/meteor-weuse">Github</a>.
  </footer>
  </div>
</body>